# Dossiers Python à ignorer
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Fichiers spécifiques à VSCode/IDE
.vscode/
.idea/

# Environnement virtuel
venv/
.venv/
.env

# Fichiers Docker non persistants
*.log
downloads/
