convert.melobeatsz.fr {
    reverse_proxy melo-converter:5000

    encode gzip

    header {
        Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer"
    }

    log {
        output stdout
        level INFO
    }

    tls lamelobeats@gmail.com
}
